# n8n
N8N_HOST=0.0.0.0
N8N_PORT={{ bitenex_n8n_port }}
N8N_PROTOCOL={{ bitenex_n8n_protocol }}
N8N_EDITOR_BASE_URL={{ bitenex_n8n_public_url }}
N8N_WEBHOOK_URL={{ bitenex_n8n_public_url }}/
WEBHOOK_URL={{ bitenex_n8n_public_url }}/
N8N_TIMEZONE={{ bitenex_timezone }}
N8N_BASIC_AUTH_ACTIVE={{ bitenex_n8n_basic_auth_active | ternary('true', 'false') }}
N8N_BASIC_AUTH_USER={{ bitenex_n8n_basic_auth_user }}
N8N_BASIC_AUTH_PASSWORD={{ vault_bitenex_n8n_basic_auth_password }}
GENERIC_TIMEZONE={{ bitenex_timezone }}
TZ={{ bitenex_timezone }}
N8N_LOG_LEVEL={{ bitenex_n8n_log_level }}
N8N_SECURE_COOKIE={{ bitenex_n8n_secure_cookie | ternary('true', 'false') }}
N8N_BLOCK_ENV_ACCESS_IN_NODE={{ bitenex_n8n_block_env_access_in_node | ternary('true', 'false') }}
BITENEX_API_BASE_URL=http://api:8000/api
BITENEX_INTERNAL_API_KEY={{ vault_bitenex_internal_api_token }}

# pgadmin
PGADMIN_DEFAULT_EMAIL={{ pgadmin_default_email }}
PGADMIN_DEFAULT_PASSWORD={{ vault_pgadmin_default_password }}
PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION={{ pgadmin_enhanced_cookie_protection | ternary('True', 'False') }}

# sonarqube
SONARQUBE_POSTGRES_DB={{ sonarqube_postgres_db }}
SONARQUBE_POSTGRES_USER={{ sonarqube_postgres_user }}
SONARQUBE_POSTGRES_PASSWORD={{ vault_sonarqube_postgres_password }}
SONAR_JDBC_URL=jdbc:postgresql://sonarqube-db:5432/{{ sonarqube_postgres_db }}
SONAR_JDBC_USERNAME={{ sonarqube_postgres_user }}
SONAR_JDBC_PASSWORD={{ vault_sonarqube_postgres_password }}
SONAR_WEB_JAVAOPTS={{ sonarqube_web_java_opts }}
SONAR_CE_JAVAOPTS={{ sonarqube_ce_java_opts }}
