{
  "Servers": {
    "1": {
      "Name": "Bitenex API RDS",
      "Group": "Bitenex",
      "Host": "{{ bitenex_database_host }}",
      "Port": {{ bitenex_database_port }},
      "MaintenanceDB": "{{ bitenex_database_name }}",
      "Username": "{{ bitenex_database_user }}",
      "SSLMode": "{{ bitenex_database_sslmode }}",
      "PassFile": "/pgpassfile"
    }
  }
}
