{{ bitenex_database_host }}:{{ bitenex_database_port }}:{{ bitenex_database_name }}:{{ bitenex_database_user }}:{{ vault_bitenex_database_password }}
sonarqube-db:5432:{{ sonarqube_postgres_db }}:{{ sonarqube_postgres_user }}:{{ vault_sonarqube_postgres_password }}
