project_name = "bitenex-cj"
environment  = "prod"
aws_region   = "ap-southeast-1"

vpc_cidr     = "10.30.0.0/16"
instance_type = "t3.large"
key_name      = ""
allowed_ssh_cidr = "0.0.0.0/0"

db_name             = "bitenex"
db_username         = "bitenex_admin"
db_password         = "change-me-strong-password"
db_instance_class   = "db.t4g.micro"
db_allocated_storage = 30
db_multi_az         = false

domain_name  = "cj-api.example.com"
